
.container{
    color: #424649;
}

.container-form {
    padding: 20px;
    margin: 10% 30%;
    background-color: #D9D9D9;
    border-radius: 50px;
}

h2 {
    font-family: fantasy;
    font-size: 26px;
    margin: 0 30%
}

html {
    background-color: #6ba6fe;
    height: 100%;
}


.input{
    background-color: #F5F5F5;
    color: #333333;
    padding: 2%;
    margin: 12px;
    border-radius: 50px;
}
html.no-cssgradients {
    background-color: #aaa;
}


.form-box {
    background-color: #F5F5F5;
    color: #333333;
    margin: 12px;
    border-radius: 50px;
}


a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

.content h1 {
    border-bottom: 1px solid #CCCCCC;
    margin: 0.8em 1em 0.3em;
    padding: 0 0.25em;
}

label {
    cursor: pointer;
    display: inline-block;
    margin-left: 16px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

.errors,
.message {
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 2em;
    padding: 0.25em;
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    -moz-box-shadow: 0 0 0.25em #ff8888;
    -webkit-box-shadow: 0 0 0.25em #ff8888;
    box-shadow: 0 0 0.25em #ff8888;
}

.message {
    background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.button-form{
    border-radius: 50px;
    padding: 6px;
    width: 200px;
    margin: 2% 34%
}

a.skip {
    position: absolute;
    left: -9999px;
}

.grails-logo-container {
    background: #7c7c7c no-repeat 50% 30%;
    margin-bottom: 20px;
    color: white;
    height:300px;
    text-align:center;
}
